html {
    background-color: black;
    color: white;
}

.guidelink {
    font-size: 2em;
    text-decoration: none;
}

a:link {
    color: rgb(235, 241, 255);
  }
  
a:visited {
    color: #77a0ff;
  }
  
  a:hover {
    color: white;
    background-color: blue;
  }